.table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.th, .td {
  text-align: center;
  padding: 12px;
}

.th {
  background-color: #0099ff;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.h1,.p {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;

}


.inputContainer{
  text-align: center;
  width: 100%;
}
.inputBitcoin{
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;

}
.inputBitcoin:focus{
  outline: none;
}

.light {
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transition: background-color 0.3s ease-in-out;
}

.dark {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transition: background-color 0.3s ease-in-out;
}

.themeToggle {
  position: fixed;
  top: 15px;
  left: 10px;
  padding: 0px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  font-size: 25px;
}

.FaRegMoon{
  color:white;
}
